<nav
  class="navbar navbar-default"
  style="
    background-color: rgb(115, 179, 63);
    width: 1350px;
    margin-left: -106px;
  "
>
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="assets/notes.png" />
      <a class="navbar-brand" style="color: mintcream; margin-left: -20px">
        User Notes</a
      >
    </div>
    <div class="collapse navbar-collapse">
      <button
        class="nav navbar-nav navbar-right btn btn-primary"
        (click)="onClickNew()"
        style="margin-top: 7px; width: 150px"
      >
        New Note
      </button>
    </div>
  </div>
</nav>
